<button id="return_to_profile"><a href="/profile">Return to my profile</a></button>
<div class="main_content">
	<h1 class="top_box">Here Are Your Decks!</h1>
	<div class="bottom_box">
		<%@decks.each do |deck| %>
	   <p><a class="deck_link" href='/decks/<%= deck.id %>'> <%= deck.name %></a></p>
		<%end%>
	</div>
</div>
