<button><a href="/profile">Return to my profile</a></button><h1>Here are Your Decks!</h1>
<%@decks.each do |deck| %>
   <div class="tape"><p><a href='/decks/<%= deck.id %>'> <%= deck.name %></a></p></div>
<%end%>
