<div class="container">
  <h1>SIGNUP!</h1>
  <hr>
  <form action="/signup" method="POST">
    <input class="login" id="username" type="text" name="username" placeholder="Enter Username"/>
    <input class="login" id="password" type="password" name="password" placeholder="Enter Password"/>
    <input type="submit" value="signup">
  </form>
  <br/>

</div>
