<button><a href="/decks">Pick A Deck</a></button>
<h1>Hey there, <%=@user.username %>!</h1>
<h2>Your Stats:</h2>
<% @rounds.each do |round| %>
	<p><%= round.deck.name %>: <%= round.number_correct %> correct out of <%= round.deck.cards.count %></p>
<% end %>
