<h1>GRANDMASTER FLASHCARDS</h1>

<% if @errors %>
  <%= @errors %>
<% end %>

<form action="/login" method="POST">
  <input class="login" id="username" type="text" name="username" placeholder="Enter Username"/>
  <input class="login" id="password" type="password" name="password" placeholder="Enter Password"/>
  <input type="submit" value="Login">
</form>
<a href="/signup">Signup</a>
