<div>
  <h1>GRANDMASTER FLASHCARDS!</h1>
</div>

  <% if @errors %>
    <%= @errors %>
  <% end %>

<div class="signup">
  <form action="/login" method="POST">
    <input class="login" id="username" type="text" name="username" placeholder="Enter Username"/>
    <input class="login" id="password" type="password" name="password" placeholder="Enter Password"/>
    <input type="submit" value="login">
    <a href="/signup">signup</a>
  </form>
</div>
